# Compiled output
/backend/dist
/backend/node_modules

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json

/backend/.vercel

/backend/esData01
/backend/redis

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies - frontend-admin
/frontend-admin/node_modules
/frontend-admin/.pnp
/frontend-admin/.pnp.js

# Testing - frontend-admin
/frontend-admin/coverage

# Next.js - frontend-admin
/frontend-admin/.next/
/frontend-admin/out/

# Production - frontend-admin
/frontend-admin/build

# Misc - frontend-admin
/frontend-admin/.DS_Store
/frontend-admin/*.pem

# Debug - frontend-admin
/frontend-admin/npm-debug.log*
/frontend-admin/yarn-debug.log*
/frontend-admin/yarn-error.log*

# Vercel - frontend-admin
/frontend-admin/.vercel

# TypeScript - frontend-admin
/frontend-admin/*.tsbuildinfo

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies - frontend-user
/frontend-user/node_modules
/frontend-user/.pnp
/frontend-user/.pnp.js

# Testing - frontend-user
/frontend-user/coverage

# Next.js - frontend-user
/frontend-user/.next/
/frontend-user/out/

# Production - frontend-user
/frontend-user/build

# Misc - frontend-user
/frontend-user/.DS_Store
/frontend-user/*.pem

# Debug - frontend-user
/frontend-user/npm-debug.log*
/frontend-user/yarn-debug.log*
/frontend-user/yarn-error.log*
/frontend-user/package-lock.json
/frontend-user/yarn.lock

/frontend-admin/npm-debug.log*
/frontend-admin/yarn-debug.log*
/frontend-admin/yarn-error.log*
/frontend-admin/package-lock.json
/frontend-admin/yarn.lock

# Vercel - frontend-user
/frontend-user/.vercel

# TypeScript - frontend-user
/frontend-user/*.tsbuildinfo
